---

---

<nav>
    <a href="/">
        <img src="https://placehold.co/50x50" alt="Logo" width="50" height="50">
    </a>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/mappings">Mappings</a></li>
  </ul>
</nav>

<style>
    nav {
        background-color: var(--accent-light);
        padding: 1em;
    }
    
    nav ul {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 1em;
    }
    
    nav ul li a {
        color: #eeeeee;
        font-size: 2em;
        text-decoration: none;
    }
    
    nav ul li a:hover {
        color: #acacac;

        text-decoration: underline;
    }
</style>
